<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Kiri</string>
    <key>CFBundleDisplayName</key>
    <string>Kiri</string>
    <key>CFBundleIdentifier</key>
    <string>local.kiri.host</string>
    <key>CFBundleVersion</key>
    <string>@KIRI_VERSION@</string>
    <key>CFBundleShortVersionString</key>
    <string>@KIRI_VERSION@</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>kiri-host</string>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSRequiresAquaSystemAppearance</key>
    <false/>
</dict>
</plist>
